:root {
  --bg-01: #DDDCDC;
  --bg-02: #FBFDFB;
  --bg-03: #E5E5E5;
  --bg-04: #F8F8F8;
  --bg-05: #F8E3E3;
  --bg-06: #E3F4F8;
  --bg-07: rgba(147, 147, 147, 0.37);
  --bg-08: #F1F1F1;
  --bg-09: rgba(196, 196, 196, 0.7);
  --bg-10: rgba(112, 104, 104, 0.7);
  --bg-11: #BCE3C0;
  --bg-12: rgba(0, 0, 0, 0.2);
  --bg-13: #FFFFFF;

  --text-01: #000000;
  --text-02: rgba(0, 0, 0, 0.66);
  --text-03: #8b0000;
  --text-04: #fdd0d0;

  --border-01: 1px solid rgba(0, 0, 0, 0.2);
  --border-02: 1px solid rgba(0, 0, 0, 0.5);
  --border-03: 1px solid #B6AAAA;
  --border-04: 1px solid #B3C0C3;
  --border-05: 0.5px solid #39553A;
  --border-06: rgba(112, 104, 104, 0.5);
}
